.container {
    padding: auto;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr;
    grid-template-areas: "dish dish-details"
        "switching-buttons switching-buttons"
        "ingredients-procedure ingredients-procedure";

    @media screen and (max-width: 1024px) {
        padding-top: 1rem;
    }

    @media screen and (max-width: 768px) {
        /* Mobile layout */
        /* max-width: 470px; */
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.08fr 0.3fr 0.4fr 0.1fr 0.5fr;
        grid-template-areas:
        "mobile-navigation"
        "dish"
        "dish-details"
        "switching-buttons"
        "ingredients-procedure";
    }

    @media screen and (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 470px;
        justify-self: center;
    }

    @media screen and (max-width: 480px) {
        max-width: 320px;
    }

    @media screen and (max-width: 320px) {
        margin: 0 auto;
    }
}

.mobile-navigation {
    grid-area: mobile-navigation;
    display: none;
    margin: 15px 0 10px 0;

    @media screen and (max-width: 768px) {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.come-back-arrow {
    cursor: pointer;
    padding-top: 2px;
}

.menu-container {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.menu {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding-top: 12px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 4px;
    text-align: center;
}

.menu-options {
    width: 180px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 8px;
    list-style-type: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.element {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding: 5px 0;
    cursor: pointer;
}

    .element a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: var(--black);
    }

.menu-container:hover .menu-options {
    display: block;
}

.dish {
    grid-area: dish;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.dish-picture {
    position: relative;
    z-index: 1;
}
.dish-picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.7;
    border-radius: 10px;

}
.dish-image {
    width: auto;
    height: auto; 
    border-radius: 10px;

    @media screen and (max-width: 1920px) {
        max-width: 700px;
        max-height: 400px;
    }

    @media screen and (max-width: 1655px) {
        max-width: 600px;
        max-height: 350px;
    }

    @media screen and (max-width: 1460px) {
        min-width: 400px;
        min-height: 300px;
    }

    @media screen and (max-width: 1300px) {
        min-width: 300px;
        min-height: 210px;
    }

    @media screen and (max-width: 1000px) {
        max-width: 370px;
        min-width: 270px;
        min-height: 180px;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 600px) {
        justify-self: center;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto; 
    }

    @media only screen and (max-width: 480px) {
        max-width: 100%;
        height: auto;
    }

    @media only screen and (max-width: 390px) {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        justify-self: center;
    }
}

.dish-details {
    grid-area: dish-details;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
}

.author {
    grid-area: author;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        border-top: 1px solid var(--light-grey);
        margin-top: 1rem;
        padding-top: 1rem;
    }
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-description {
    text-align: start;
}

.followers {
    color: var(--grey);
}

.dish-description {
    font-size: 18px;
    padding: 7px 0;

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    @media screen and (max-width: 600px) {
        text-align: left;
    }
}

.dish-category,
.title{
    color: var(--green);
}

.calories-time-details {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: var(--light-grey);
}
.calories,
.time {
    display: flex;
    align-items: center;
    justify-items: center;
}
.time{
    padding-left: 10px;
}
.dish-saved {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 30px;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.desktop-ingr-btn,
.desktop-proc-btn {
    padding-left: 10px;
    @media screen and (max-width: 768px) {
        /* Mobile button styles */
        display: none;
    }
}

.btn {
    border: none;
    outline: none;
    background-color: white;
    font: var(--popins);
    text-decoration: none;
    grid-area: switching-buttons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ingredients-overview procedure-overview";
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--light-grey);

    @media screen and (max-width: 768px) {
        /* Mobile button styles */
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        padding-top: 0;
        border-top: none;
    }
}

#btn1 {
    @media screen and (max-width: 768px) {
        height: 35px;
        width: 110px;
        font-size: 16px;
        color: var(--white);
        background-color: var(--green);
        border: none;
        border-radius: 10px;
        text-align: center;
    }
}
#btn2 {
    @media screen and (max-width: 768px) {
        height: 35px;
        width: 110px;
        font-size: 16px;
        color: var(--green);
        background-color: var(--white);
        border: none;
        border-radius: 10px;
        text-align: center;
    }
}

    #btn1:hover
    #btn2:hover {
        @media screen and (max-width: 768px) {
            cursor: pointer;
            opacity: 0.9;
        }
    }

        .title {
    /*padding-left: 1rem;*/

    @media screen and (max-width: 1920px) {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        padding-left: 0;
    }
}

.ingredients-overview {
    grid-area: ingredients-overview;
    display: flex;
    justify-content: space-between;
}

.list-item,
.items {
    text-align: justify;
    font-weight: 600;
    color: #333333;
}

.ingredients-number {
    text-align: right;
    padding-right: 10px;
    align-items: end;
    width:110px;
    height: 35px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.procedure-overview {
    grid-area: procedure-overview;
}

.ingredients-procedure {
    grid-area: ingredients-procedure;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
}

#mobile-ingredients {
    grid-area: mobile-ingredients;
}

.ingredients-list {
    grid-area: ingredients;
    width: 50%;
    height: auto;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.list-item {
    list-style: none;
}
.items,
.list-item {
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
}

.procedure {
    grid-area: procedure;
    width: 50%;
    height: auto;

    @media screen and (max-width: 768px) {
        display: none;
        width: 100%;
    }
}

#mobile-procedure {
    grid-area: mobile-procedure;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.switch-buttons {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        background-color: white;
        color: "#4e8d5c";
        border: none;
        width: 110px;
        height: 35px;
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 600;
    }
}