@page "/searchresult"
@model RecipesManagerWebClient.Web.Pages.Recipes.SearchResultModel
@{
}
<div class="dish-container">
    <div class="content">
        <p>Search result</p>
        <p class="count-results"></p>
    </div>
    <div class="dishes"></div>
</div>