@page "/search"
@model RecipesManagerWebClient.Web.Pages.Recipes.SearchModel

<div class="dish-container">
    <div class="sidebar">
        <button class="sidebar-btn sidebar-active">Public</button>
        <button class="sidebar-btn">Saved</button>
        <button class="sidebar-btn">Personal</button>
    </div>
    <div class="dishes">
        @foreach (var recipe in Model.Recipes)
        {
            var imageUrl = Model.ImageUrl + recipe.Thumbnail.SmallPhotoGuid + "." + recipe.Thumbnail.Extension;
            <p>@recipe.Name</p>
            <img src="@imageUrl">
        }
    </div>
</div>

