@page "/signin"
@model RecipesManagerWebClient.Web.Pages.SignInModel

<div class="container">
    <form method="post">
       
        <h2>Welcome back!</h2>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password" required>
        <button type="submit">Sign in</button>
        <hr>
        <p class="sign-in-with-google">or Sign in with</p>
        <div class="google-sign-in">
            <a href="#"><img src="~/assets/google-icon.svg" alt=""></a>
        </div>
      </form>
</div>
