@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="text" name="Name" value="NYC Squre Pizza"/>
    <input type="text" name="Categories[0].Id" value="6462aed17e1af22b0e751f55"/>
    <input type="text" name="Categories[0].Name" value="Pizza"/>
    <input type="file" name="Thumbnail" />
    <button type="submit">Submit</button>
</form>