@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post">
    <input type="text" name="Name" value="Web Pizza"/>
    <button type="submit">Submit</button>
</form>